:root {
    font-size: 10px;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

p, .list-items{
    font-size: 1.6em;
}

.heading {
  font-size: 2.4em;  
}

.list-items {
    padding: 5px;
} 

